{% extends "base.html" %}
{% load static %}


{% block title %}
    Home
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href='{% static "post.css"%}'>
<link rel="stylesheet" href='{% static "index.css" %}'>
{% endblock %}



{% block content %}
<section id="welcome">
    <header>
        <img src="{% static 'images/profilepic.jpg' %}" alt="image">
        <h2>Pixel's Blog</h2>
    </header>
</section>

<section id="latest-posts">
    <h2>My latest posts</h2>
<ul>
    {% for post in posts %}
    {% include "blog/includes/post.html" %}
    {% endfor %}
</ul>
</section>

<section id="about">
    <h2>About</h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta rem illo nisi? Maxime iste temporibus dicta reprehenderit aut doloremque repudiandae sint voluptate recusandae, sunt, neque non atque obcaecati magnam id?</h4>
</section>
{% endblock %}